---

let {dades} = Astro.props;
let vegetaIcon = '../../public/img/vegano.png';
let glutenIcon = '../../public/img/sin-gluten.png';

---
<style>
    .plat {
        background-color: beige;
        padding: 20px;
        border: 1px solid red;
    }
    .marc{

    }
</style>

<div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            {   dades.Imatge && <img src={dades.Imatge} alt={dades.Nom} width="350px" height=""/> }
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{dades.Nom}{dades.Vegetaria ? <img src={vegetaIcon} height="35px" alt="Vegetarià"/> : null}
                {dades.Gluten ? <img src={glutenIcon} height="35px" alt="GlutenFree"/> : null}{dades.Preu}
              </h5>
            </div>
          </div>
        </div>
      </div>
</div>


